Repository catherinevee/driftmgr: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e, Cloud Providers, Discovery Engine, Drift Detection, State Management, Remediation System, API Server, CLI Commands

Path conditions:
  unittests: any file but: **/test/**, **/tests/**, **/testing/**, **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  integration: any of: internal/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  e2e: any of: cmd/**, internal/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Cloud Providers: any of: internal/providers/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Discovery Engine: any of: internal/discovery/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Drift Detection: any of: internal/drift/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  State Management: any of: internal/state/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Remediation System: any of: internal/remediation/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  API Server: any of: internal/api/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  CLI Commands: any of: cmd/driftmgr/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**

update README, ASCII
  README.md
  cmd/driftmgr-server/main.go
  cmd/driftmgr/commands/dashboard.go
  cmd/driftmgr/commands/serve_web.go
Due: unittests, e2e, CLI Commands

Add license scan report and status
  README.md
Due: none

update README
  README.md
Due: none

Add Codecov workflow for coverage reports
  .github/workflows/codecov.yml
Due: none

update status badges on README
  .github/workflows/codeql.yml
  README.md
Due: none

Fix all GitHub Actions workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/docker.yml
  .github/workflows/pre-commit-drift.yml
  .github/workflows/test.yml
  cmd/driftmgr/commands/analyze.go
  cmd/driftmgr/commands/backend.go
  cmd/driftmgr/commands/bulk_delete.go
  cmd/driftmgr/commands/dashboard.go
  cmd/driftmgr/commands/health.go
  cmd/driftmgr/commands/remediation.go
  cmd/driftmgr/commands/serve_web.go
  cmd/driftmgr/commands/server.go
  cmd/driftmgr/commands/simulate_drift.go
  cmd/driftmgr/commands/validate.go
  cmd/driftmgr/main.go
  internal/api/drift_store.go
  internal/api/server.go
  internal/drift/detector/detector.go
  internal/remediation/config.go
  internal/remediation/engine.go
  internal/state/local_backend.go
  internal/state/parser.go
  pkg/models/models.go
Due: unittests, integration, e2e, Drift Detection, State Management, Remediation System, API Server, CLI Commands

Make build workflow more resilient
  .github/workflows/build.yml
Due: none

Fix platform-specific build issues in compliance package
  internal/compliance/cleanup.go
  internal/compliance/worker_unix.go
  internal/compliance/worker_windows.go
Due: unittests, integration, e2e

Remove broken driftmgr-server and invalid workflows
  .github/workflows/dependencies.yml.disabled
  .github/workflows/docker-release.yml.disabled
  cmd/driftmgr-server/main.go.disabled
Due: unittests, e2e

Fix remaining compilation errors
  cmd/validate/main.go
  internal/api/middleware/csrf.go
  internal/api/middleware/ratelimit.go
  internal/remediation/strategies/cloud_as_truth.go
Due: unittests, integration, e2e, Remediation System, API Server

Trigger workflows after canceling queued runs
  README.md
Due: none

Add professional repository assets and documentation
  NOTICE
  examples/aws/basic-drift-detection.sh
  examples/aws/multi-account-setup.md
  examples/azure/azure-management-groups.md
  examples/gcp/organization-wide-scanning.md
  scripts/add-copyright-headers.sh
Due: unittests

Remove emojis from example files
  examples/README.md
  examples/aws/basic-drift-detection.sh
  examples/aws/multi-account-setup.md
  examples/drift-simulation-demo.ps1
  examples/gcp/organization-wide-scanning.md
Due: none

Clean up root directory and update .gitignore
  .gitignore
Due: none

Consolidate GitHub Actions workflows from 19 to 6 files
  .github/workflows/.archive/build.yml
  .github/workflows/.archive/ci.yml
  .github/workflows/.archive/codecov.yml
  .github/workflows/.archive/codeql.yml
  .github/workflows/.archive/docker-build.yml
  .github/workflows/.archive/docker-hub.yml
  .github/workflows/.archive/docker-original.yml
  .github/workflows/.archive/docker.yml
  .github/workflows/.archive/drift-check.yml
  .github/workflows/.archive/pre-commit-drift.yml
  .github/workflows/.archive/quality.yml
  .github/workflows/.archive/release.yml
  .github/workflows/.archive/security.yml
  .github/workflows/.archive/setup-secrets.yml
  .github/workflows/.archive/test-workflow.yml
  .github/workflows/.archive/test.yml
  .github/workflows/.archive/verify-drift-results.yml
  .github/workflows/.archive/workflow-dispatch.yml
  .github/workflows/ci-cd.yml
  .github/workflows/dependencies.yml.disabled
  .github/workflows/docker-release.yml.disabled
  .github/workflows/docker.yml
  .github/workflows/drift-detection.yml
  .github/workflows/security-compliance.yml
  .github/workflows/utilities.yml
Due: none

Fix Go formatting in tfimport/generator.go
  internal/remediation/tfimport/generator.go
Due: unittests, integration, e2e, Remediation System

Fix compilation errors
  cmd/driftmgr/main.go
  cmd/validate/main.go
  internal/monitoring/continuous.go
  internal/shared/events/event_bus.go
Due: unittests, integration, e2e, CLI Commands

Fix remaining compilation errors and test imports
  cmd/driftmgr/main.go
  internal/drift/detector/detector_bench_test.go
  tests/benchmarks/performance_test.go
  tests/e2e/simple_e2e_test.go
  tests/functional/comprehensive_test.go
Due: unittests, e2e, CLI Commands

Fix Docker workflow: Add --version and --help flag support
  cmd/driftmgr/main.go
Due: unittests, e2e, CLI Commands

Fix GitHub Actions workflow issues
  .github/workflows/ci-cd.yml
  .github/workflows/docker.yml
  .github/workflows/security-compliance.yml
  .github/workflows/utilities.yml
  tests/benchmarks/performance_test.go
  tests/e2e/simple_e2e_test.go
  tests/functional/comprehensive_test.go
Due: none

Fix Docker workflow: use 'docker compose' instead of 'docker-compose'
  .github/workflows/docker.yml
Due: none

Make docker-compose test step non-blocking
  .github/workflows/docker.yml
Due: none

Fix Docker workflow: use OCI format for multi-platform builds
  .github/workflows/docker.yml
Due: none

Fix drift detection workflow to handle missing credentials gracefully
  .github/workflows/drift-detection.yml
Due: none

Fix Security & Compliance workflow issues
  .github/workflows/security-compliance.yml
Due: none

Make Security & Compliance workflow more resilient
  .github/workflows/security-compliance.yml
Due: none

Optimize Docker workflow build times
  .github/workflows/docker.yml
Due: none

Fix Docker workflow: use docker format for artifact compatibility
  .github/workflows/docker.yml
Due: none

Remove Docker Hub auth and add v3.0.1 tag
  .github/workflows/docker.yml
Due: none

Fix Docker workflow: only push to GitHub Container Registry
  .github/workflows/docker.yml
Due: none

Add Prometheus configuration for Docker Compose monitoring
  configs/prometheus.yml
Due: none

Simplify Docker workflow to single job
  .github/workflows/docker.yml
  docker-compose.test.yml
Due: none

Add Scorecard workflow for supply-chain security
  .github/workflows/scorecard.yml
Due: none

update README
  .claude/settings.local.json
  .gitignore
  README.md
  docs/AI_ASSISTANT_CONTEXT.md
Due: unittests

Add architecture and workflow diagrams for DriftMgr
  diagrams/README.md
  diagrams/architecture_diagram.go
  diagrams/drift_detection_flow.go
  diagrams/generate.ps1
  diagrams/generate.sh
  diagrams/go.mod
  diagrams/go.sum
  diagrams/output/drift_detection_flow.dot
  diagrams/output/driftmgr_architecture.dot
  diagrams/output/remediation_workflow.dot
  diagrams/remediation_workflow.go
Due: unittests
