Repository catherinevee/driftmgr: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, e2e, Cloud Providers, Discovery Engine, Drift Detection, State Management, Remediation System, API Server, CLI Commands

Path conditions:
  unittests: any file but: **/test/**, **/tests/**, **/testing/**, **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  integration: any of: internal/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  e2e: any of: cmd/**, internal/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Cloud Providers: any of: internal/providers/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Discovery Engine: any of: internal/discovery/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Drift Detection: any of: internal/drift/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  State Management: any of: internal/state/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  Remediation System: any of: internal/remediation/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  API Server: any of: internal/api/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**
  CLI Commands: any of: cmd/driftmgr/**, but not: **/*_test.go, **/test_*.go, **/mock_*.go, **/fake_*.go, test/**, tests/**, testing/**, examples/**, docs/**, scripts/**, configs/**, web/**, *.md, *.yml, *.yaml, *.json, *.txt, go.mod, go.sum, Dockerfile*, Makefile, .github/**, .gitignore, vendor/**

Fix go.mod version requirement from 1.24 to 1.23
  go.mod
Due: none

Fix Docker build: Keep Go 1.23 requirement and compatible dependencies
  go.mod
  go.sum
Due: none

Fix Docker build: Use Go 1.23 with compatible dependencies
  go.mod
  go.sum
Due: none

Update to Go 1.24 for Docker and CI/CD compatibility
  .claude/settings.local.json
  .github/workflows/.archive/build.yml
  .github/workflows/.archive/ci.yml
  .github/workflows/.archive/codecov.yml
  .github/workflows/.archive/codeql.yml
  .github/workflows/.archive/docker-build.yml
  .github/workflows/.archive/docker-hub.yml
  .github/workflows/.archive/docker-original.yml
  .github/workflows/.archive/docker.yml
  .github/workflows/.archive/drift-check.yml
  .github/workflows/.archive/pre-commit-drift.yml
  .github/workflows/.archive/quality.yml
  .github/workflows/.archive/release.yml
  .github/workflows/.archive/security.yml
  .github/workflows/.archive/setup-secrets.yml
  .github/workflows/.archive/test-workflow.yml
  .github/workflows/.archive/test.yml
  .github/workflows/.archive/verify-drift-results.yml
  .github/workflows/.archive/workflow-dispatch.yml
  .github/workflows/ci-cd.yml
  Dockerfile
  go.mod
Due: unittests

Fix Docker build: Remove go vet from Dockerfile to avoid go.sum issues
  Dockerfile
Due: none

Fix Docker build: Add missing enterprise-certificate-proxy dependency
  go.mod
  go.sum
Due: none

feat: Complete test coverage implementation and security analysis
  TEST_COVERAGE_PLAN.md
  checkov_results.json/results_json.json
  cli_coverage
  cmd/driftmgr/commands_test.go
  cmd/driftmgr/drift-results.json
  cmd_coverage
  coverage
  discovery_coverage
  final_coverage
  full_coverage
  integration_coverage
  internal/api/handlers.go
  internal/api/handlers_test.go
  internal/api/server.go
  internal/api/server_test.go
  internal/cli/output_test.go
  internal/cli/progress_test.go
  internal/cli/prompt.go
  internal/cli/prompt_test.go
  internal/discovery/enhanced_discovery_comprehensive_test.go
  internal/discovery/incremental_advanced_test.go
  internal/discovery/parallel_discovery_test.go
  internal/discovery/registry.go
  internal/discovery/registry_test.go
  internal/discovery/scanner.go
  internal/discovery/scanner_test.go
  internal/discovery/sdk_integration_test.go
  internal/remediation/strategies/code_as_truth_test.go
  internal/shared/cache/global_cache_test.go
  internal/shared/config/manager_test.go
  internal/shared/errors/errors_test.go
  internal/shared/events/event_bus_test.go
  internal/shared/logger/logger_test.go
  internal/shared/metrics/collector_test.go
  providers_coverage
  shared_coverage
  state_coverage
  tests/integration/integration_test.go
  working_coverage
Due: unittests, integration, e2e, Discovery Engine, API Server, CLI Commands

feat: Add Checkov security badge workflow
  .github/workflows/checkov-badge.yml
Due: none

chore: Clean up root directory
  COVERAGE_SUMMARY.md
  TEST_COVERAGE_PROGRESS.md
  TEST_COVERAGE_REPORT.md
  checkov_results.json/results_json.json
  cli_coverage
  cmd_coverage
  coverage
  discovery_coverage
  final_coverage
  full_coverage
  integration_coverage
  providers_coverage
  shared_coverage
  state_coverage
  working_coverage
Due: unittests

docs: Replace CodeCov badge with Checkov Security badge
  README.md
Due: none

docs: Make Checkov Security badge dynamic with branch parameter
  README.md
Due: none

fix: Add missing checkov-badge.py script
  scripts/checkov-badge.py
Due: none

fix: Remove git push from Checkov workflow
  .github/workflows/checkov-badge.yml
Due: none

feat: Add dynamic release version badge
  docs/badges/checkov-security-badge.txt
  docs/badges/release-info.json
  docs/badges/release-version-badge.txt
  scripts/release-badge.py
Due: none

docs: Add dynamic release version badge to README
  README.md
Due: none

docs: Remove static release badge
  README.md
Due: none

fix: Apply gofmt formatting to test files
  cmd/driftmgr/commands_test.go
  internal/cli/progress_test.go
  internal/cli/prompt_test.go
  internal/discovery/incremental_advanced_test.go
  internal/discovery/sdk_integration_test.go
  internal/shared/cache/global_cache_test.go
  internal/shared/config/manager_test.go
  internal/shared/errors/errors_test.go
  internal/shared/events/event_bus_test.go
  internal/shared/logger/logger_test.go
  internal/shared/metrics/collector_test.go
  tests/integration/integration_test.go
Due: none

perf: Remove ARM64 build from Docker pipeline
  .github/workflows/ci-cd.yml
Due: none

Phase 1 Complete: Update code coverage improvement plan
  CODE-COVERAGE-IMPROVEMENT-PLAN.md
Due: none

Phase 2.1 Complete: Core module unit tests implemented
  internal/drift/detector/detector_test.go
  internal/providers/factory_test.go
  internal/security/reviewer.go
  internal/state/backend/azure_lease.go
  internal/state/manager_test.go
  internal/testutils/integration_test.go
Due: unittests, integration, e2e, State Management

Phase 2.2 Complete: Comprehensive provider tests implemented
  coverage
  internal/drift/detector/detector_test.go
  internal/providers/aws/provider_test.go
  internal/providers/azure/provider_test.go
  internal/providers/digitalocean/provider_test.go
  internal/providers/factory_test.go
  internal/providers/gcp/provider_test.go
  internal/state/manager_test.go
Due: unittests

Phase 2.3 Complete: Comprehensive API and handler tests implemented
  internal/api/handlers_comprehensive_test.go
  internal/api/handlers_test.go
  internal/providers/aws/provider_test.go
  internal/providers/azure/provider_test.go
  internal/providers/digitalocean/provider_test.go
  internal/providers/gcp/provider_test.go
Due: none
